@charset "UTF-8";

.list_div {
	width: 800px;
	margin: 0 auto;
}

table.list_tbl {
	width: 100%;
	border-collapse: collapse;
}

.list_tbl th, .list_tbl td {
	border: 1px solid gray;
	padding: 10px;
}

.list_tbl th {
	background: gainsboro;
}

.list_tbl td:not(:nth-child(2)) {
	text-align: center;
}

.list_tbl td:nth-child(2) {
	padding-left: 20px;
	text-align: left;
}

.list_tbl td:nth-child(2) a {
    color: gray;
    text-decoration: none;
}

.list_tbl td:nth-child(2) a:hover {
    color: red;
    font-weight: bold;
    padding-left: 3px;
}

.search_div {
	text-align: center;
	padding: 40px 0 40px 0;
}

.write {
	text-align: right;
}

.write_btn {
	width: 100px;
	height: 40px;
	background: black;
	color: white;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.write_btn:hover {
	border: 1px solid red;
	background: red;
	color: white;
}

input.search {
	width: 25%;
	padding: 8px;
}

input.search_btn {
	border: 1px solid gray;
	background: white;
	width: 75px;
	height: 35px;
	cursor: pointer;
}

.search_select {
	width: 90px;
	height: 35px;
}

.title_a {
	text-decoration: none;
	color: gray;
}

a.title_a:hover {
	color: red;
	font-weight: bold;
	padding-left: 3px;
}

.page_div {
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
	letter-spacing: 2px;
}

.page_div a {
	color: gray;
	text-decoration: none;
}

.page_div a:hover {
	color: red;
}