@charset "UTF-8";

table.reg_tbl {
	border-collapse: collapse;
	border-top: 1px solid gainsboro;
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

table.reg_tbl tbody tr th, table.reg_tbl tbody tr td {
	border-bottom: 1px solid gainsboro;
}

.select {
	width: 60px;
	height: 26px;
}

.phone_box {
	width: 95px;
	height: 20px;
}

.text_box {
	width: 170px;
	height: 20px;
}

input.sub_btn, input.res_btn {
	width: 100px;
	height: 35px;
	font-size: 13px;
	cursor: pointer;
}

input.sub_btn {
    border: 1px solid #4CAF50;
    background: #4CAF50;
    color: white;
}

input.sub_btn:hover{
	border: 1px solid black;
	background: black;
}

input.res_btn {
	border: 1px solid gray;
	background-color: white;
}

input[type="text"], input[type="password"] {
    outline: none;
}